<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Cadastrar Cursos</h4>
                      <p class="card-category">Insira as informações do curso</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                          <div class="row">
                              
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nome do Curso" name="nome" ngModel>
                                  </mat-form-field>
                              </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Professor" type="text" name="professor" ngModel>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Data" type="date" name="data" ngModel>
                                    </mat-form-field>
                                </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Descrição" type="text" name="descricao" ngModel>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Link da foto" type="text" name="url" ngModel>
                                  </mat-form-field>
                                </div>
                            </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Cadastrar Curso</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
