<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Registro de Pessoas</h4>
                        <p class="card-category"> Todas pessoas que usaram o ChatBot</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th class="text-center" scope="col">Foto</th>
                                        <th class="text-center" scope="col">Nome</th>
                                        <th class="text-center" scope="col">E-mail</th>
                                        <th class="text-center" scope="col">Data</th>
                                        <th class="text-center" scope="col">CPF</th>
                                        <th class="text-center" scope="col">Telefone</th>
                                        <th class="text-center" scope="col">Matricular</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; index as i">
                                        <th class="text-center" scope="row">{{i}}</th>
                                        <td class="text-center"> <img class="img-fb" src={{user.foto}} alt="Description" />
                                        </td>
                                        <td class="text-center">{{user.nome}}</td>
                                        <td class="text-center">{{user.email}}</td>
                                        <td class="text-center">{{user.createAt}}</td>
                                        <td class="text-center">{{user.cpf}}</td>
                                        <td class="text-center">{{user.telefone}}</td>
                                        <td class="text-center">
                                                <button type="button" (click)="matricularAluno(user)" class="btn btn-outline-danger">
                                                       FAZER MATRÍCULA</button>

                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>